*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*Background*/
body{
  background-color: #dad6ca;
  padding: 20px 0 0 30px;
  user-select: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none;
}
/*Título*/
h1{
 font-family: "Edu VIC WA NT Beginner", cursive;
}
/* Estilo básico das linhas */
.line {
  display: flex;
  align-items: center;
  margin: 5px 0 10px 0;
}
/* Oculta os botões de editar/remover quando não estiver com o mouse sobre */
.line:hover .removerBtn {
  display: inline-block;
}
/* Estilo dos inputs */
input[type="text"] {
  margin: 0 10px;
  padding: 5px;
  width: 400px;
}
/*Botões*/
button {
  margin-left: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 20px;
  outline: none;
  display: inline-block;
}

button img {
  display: block;
}

.line {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.adicionarBtn,
.removerBtn {
  display: inline-block;
}

.removerBtn {
  display: none;
}
/*Caixa de marcação*/
.checkbox {
  width: 15px;
  height: 15px;
  cursor: pointer;
  outline: none;
}
/*Linha de digitação*/
.text{
background-color: #0000;
border: none;
border-radius: 5px;
font-size: 17px;
font-family: cursive;
cursor: pointer;
transition: text-decoration 0.3s ease;
color: black;
}
.text:focus{
  outline: none;
}
