*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #dad6ca;
  padding: 20px 0 0 30px;
  user-select: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none;
}
h1{
 font-family: "Edu VIC WA NT Beginner", cursive;
}

/*Caixas de marcação*/
.checkbox-container {
  display: block;
  align-items: center;
  margin: 20px;
}

.checkbox {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.input-text {
  font-size: 18px;
  cursor: pointer;
  transition: text-decoration 0.3s ease;
  font-family: cursive;
}

#line{
background-color: #0000;
border: none;
border-radius: 5px;
font-size: 17px;
font-family: cursive;
}
#line:focus{
  outline: none;
  background-color: #fff2;
}

#edit{
  background-color: #0000;
  border:none;
  cursor:pointer;
  outline: none;
}