*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #dad6ca;
  padding: 20px 0 0 30px;
}
h1{
 font-family: "Edu VIC WA NT Beginner", cursive;
 user-select: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
}

/*Caixas de marcação*/
.checkbox-container {
  display: flex;
  align-items: center;
  margin: 20px;
}

.checkbox {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.label-text {
  font-size: 18px;
  cursor: pointer;
  transition: text-decoration 0.3s ease;
  user-select: none; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  font-family: cursive;
}