*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*Plano de fundo*/
body{
  background:linear-gradient(to top, #79927d, #aeb18e);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
/* Container */
#container{
  width: 500px;
  height: auto;
  display: block;
  padding: 8px;
}
/*Janela para escolher o título da nova lista de tarefas*/
#janelaDeTitulo{
  margin-top: 120px;
  border: solid 0;
  border-radius: 25px;
  background-color: rgba(100, 100, 100, 0.541);
  padding: 20px;
  height: 120px;
  width: 350px;
  position: absolute;
  font-family: "Rubik";
  backdrop-filter: blur(4px);
  display: none;
}
#title{
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: solid 0;
  display: block;
  margin: 5px 0 15px 0;
  padding: 0 10px;
  font-size: 12px;
}

#confirm, #cancel{
  border-radius: 5px;
  border: solid 0px;
  width: 80px;
  height: 30px;
  background-color: #84bddd;  
}
#buttons{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
#cancel:hover{
  transition: 0.2s;
  background-color: #84bcddb7;
}
#confirm:hover{
  transition: 0.2s;
  background-color: #84bcddb7;
}
#cancel:active{
  transform: scale(0.90);
  background-color: #5f88a0;
}
#confirm:active{
  transform: scale(0.90);
  background-color: #5f88a0;
}
/*Botão que adiciona uma nova lista de tarefas*/
#newTaskList{
  border-radius: 50%;
  border: solid 0;
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  background-color: #ffffff00;
}
#centralizar{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
#newTaskList:hover{
  transition: 0.2s;
  background-color: #8686864b;
}
#newTaskList:active{
  transform: scale(0.90);
  background-color: #5f88a0;
}
/*animação para apagar a div*/
.fadeOut {
    transition: transform 0.2s ease, opacity 0.2s ease;
    opacity: 0;
    transform: translateX(80%);
  }
